.dashboard_categories {
  display: flex;
  padding: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.dashboard_categories .dashboard_category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 15rem;
  transition: transform 0.3s;
  background-color: rgb(203, 237, 255);
}

.dashboard_category:hover {
  transform: scale(1.02);
}

.dashboard_category:hover h3 {
  color: rgb(32, 32, 32);
  color: blue;
}

.dashboard_category .assetCount {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(65, 64, 64);
}

.dashboard_category .categoryName {
  font-size: 1.3rem;
  font-weight: 500;
}

.noCategoryMessage{
  text-align: center;
}


@media (max-width: 800px){
  .dashboard_categories{
    flex-wrap: wrap;
    justify-content: center;
  }

  .dashboard_category{
    width: 90%;
  }
}