<div *ngIf="categories$ | async as categories">
  <div class="dashboard_categories">
    <div *ngFor="let category of categories" class="dashboard_category">
      <h3 class="assetCount">{{ category.numberOfAssets }}</h3>
      <h2 class="categoryName">{{ category.name }}</h2>
    </div>
  </div>

  <div #chartContainer class="chart-container"></div>

  <ng-container *ngIf="categories.length === 0">
    <app-no-data></app-no-data>
    <p class="noCategoryMessage">It seems you haven't created any categories or added items yet. Click <a [routerLink]="'/category'">here</a> to create a new category and add items. After that, you can view the dashboard.</p>
  </ng-container>
</div>



