<div class="ticketClasses" [ngClass]="'ticket'" *ngIf="ticket">
  <div class="ticket-header">
    <div class="ticked-header-info">
      <span class="ticket_id">#A12Bc3</span>
      <span
        [ngClass]="['ticketStatusClasses', 'ticketStatus', ticket.status]"
        >{{ ticket.status | uppercase }}</span
      >
    </div>
    <div class="ticketDate">
      <mat-icon>event</mat-icon>
      {{ ticket.createdAt | date : "MMM dd, yyyy, hh:mm a" }}
    </div>
  </div>
  
  <div>
    <ng-content select="[ticket-user]"></ng-content>
  </div>

  <div>
    <ng-content select="[ticket-assetId]"></ng-content>
  </div>
  
  <div class="ticketDetails">
    <h3>{{ ticket.issueType }}</h3>
    <p>{{ ticket.description }}</p>
  </div>

  <div class="additionalDetails">
    <h4 *ngIf="ticket.remark">
      Remark: <span>{{ ticket.remark }}</span>
    </h4>
  </div>

  <div class="ticket-action">
    <ng-content select="[ticket-action]"></ng-content>
  </div>
</div>
