<div class="order-card" *ngIf="editingId !== order._id; else elseBlock">
    <div class="order-header">
        <div class="order-meta">

            <div class="order-id">Order ID: {{ order._id }}</div>
            <div class="order-status" [ngClass]="['order-status-' + order.status]">
                {{ order.status | uppercase }}
                <button appButtonPrimaryLight (click)="edit(order._id, order.status)">
                <mat-icon>edit</mat-icon>
                </button>
                <button appButtonPrimaryLight (click)="onDelete(order._id)">
                    <mat-icon>delete</mat-icon>
                    </button>

            </div>
            
        </div>
        <div class="order-date">
            <mat-icon>event</mat-icon>
            {{ order.createdAt | date : "MMM dd, yyyy, hh:mm a" }}
        </div>
        
    </div>
    <div class="order-details">
        <div class="order-info">
            <div class="order-admin">Placed By: {{ order.admin.name }}</div>
        </div>
        <div class="cart">
            <h3>Cart Items:</h3>
            <ul>
                <li *ngFor="let item of order.cart">
                    <span>{{ item.quantity }} x </span>
                    {{ item.item.name }}
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="additional-details">
        <h4 *ngIf="order.remark">Remark: <span>{{ order.remark }}</span></h4>
    </div> -->
    
</div>

<ng-template #elseBlock>
    <div class="order-card">
        <div class="order-header">
            <div class="order-meta">

                <div class="order-id">Order ID: {{ order._id }}</div>
                <div class="order-status" [ngClass]="['order-status-' + order.status]">
                    <select [(ngModel)]="m_status" (ngModelChange)="onStatusUpdate($event)">
                        <option value="placed" name="PLACED" id="PLACED">PLACED</option>
                        <option value="pending" name="PENDING" id="PENDING">PENDING</option>
                        <option value="fulfilled" name="FULFILLED" id="FULFILLED">FULFILLED</option>
                        <option value="rejected" name="REJECTED" id="REJECTED">REJECTED</option>
                    </select>
                    <button appButtonPrimaryLight (click)="edit('-1', '')">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
            </div>
            <div class="order-date">
                <mat-icon>event</mat-icon>
                {{ order.createdAt | date : "MMM dd, yyyy, hh:mm a" }}
            </div>
            
        </div>
        <div class="order-details">
            <div class="order-info">
                <div class="order-admin">Placed By: {{ order.admin.name }}</div>
            </div>
            <div class="cart">
                <h3>Cart Items:</h3>
                <ul>
                    <li *ngFor="let item of order.cart">
                        <span>{{ item.quantity }} x </span>
                        {{ item.item.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-template>