<div class="inventory" *ngIf="!isInventoryFormVisible">
  <app-inventory-header class="category_header">
    <h3>Inventory Items</h3>
    <button appButtonPrimary (click)="showInventoryForm()">Add Item</button>
  </app-inventory-header>

  <div class="filterOption">
    <select
      appCustomInputStyle
      name="selectedCategory"
      id="selectedCategory"
      [(ngModel)]="selectedCategory"
      (change)="onCategoryChange()"
    >
      <option *ngFor="let category of categories$ | async" [ngValue]="category">
        {{ category.name }}
      </option>
    </select>
  </div>

  <app-inventory-table
    [items]="filteredItems$ | async"
    [identificationType]="selectedCategory?.identificationType"
    (deleteItemEmmiter)="deleteItemHandler($event)"
    (updateItemEmmiter)="showUpdateItemForm($event)"
  ></app-inventory-table>
</div>

<div class="inventory" *ngIf="isInventoryFormVisible">

  <app-inventory-header class="category_header">
    <h3>{{ !isEditMode ? "New Item" : "Update Item" }}</h3>
    <button appButtonPrimary (click)="hideInventoryForm()">Cancel</button>
  </app-inventory-header>

  <app-inventory-form
    [categories]="categories$ | async"
    [updateItemCategory]="updateItemCategory"
    (createItemEmmiter)="createItemHandler($event)"
    (updateItemEmmiter)="updateItemHandler($event)"
    [selectedItem]="selectedItem"
  ></app-inventory-form>
</div>

<app-modal *ngIf="showDeleteConfirmation" (closeModalEvent)="closeModal()">
  <div class="deleteConfirmation">
    <h2>Confirm Delete</h2>
    <p>
      Are you sure you want to delete this item? This action cannot be undone.
    </p>
    <div class="delete-confirmation-buttons">
      <button class="cancel-btn" (click)="cancelDelete()">Cancel</button>
      <button class="delete-btn" (click)="confirmDelete()">Delete</button>
    </div>
  </div>
</app-modal>
