.login-form {
    max-width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form .p-field {
    margin-bottom: 20px;
    margin-top: 7px;
}

.login-form .p-inputtext-lg,
.login-form .p-password-lg,
.login-form .p-button-lg {
    font-size: 18px;
    border-radius: 5px;
}

.login-form .p-button-primary {
    background-color: #007bff;
    color: #fff;
}

.login-form .p-button-primary:hover {
    background-color: #0056b3;
}
