<div class="category_table">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Identification Type</th>
        <th>Asset Count</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.name }}</td>
        <td>{{ category.identificationType }}</td>
        <td>{{ category.numberOfAssets ? category.numberOfAssets : 0 }}</td>
        <td>
          <div class="actions">
            <button appButtonPrimary (click)="updateCategoryHandler(category)">
              Update
            </button>

            <button
              appButtonPrimary
              (click)="deleteCategoryHandler(category._id)"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
