<div >

  <form [formGroup]="dynamicForm">
    <div formArrayName="formDataArray" class="form-container">
      <div *ngFor="let formGroup of formDataArray.controls; let i=index" [formGroupName]="i" class="form-group">
        <label for="product">Product:</label>
        <select id="product" formControlName="product" (change)="onProductChange(i)">
          <option *ngFor="let product of products" [value]="product.item._id">{{ product.item.name }}</option>
        </select>

        <label for="vendor">Vendor:</label>
        <select id="vendor" formControlName="vendor">
          <option *ngFor="let vendor of selectedProductVendors[i]" [value]="JSONStringify(vendor)">{{ vendor.name }}
          </option>
        </select>

        <label for="quantity">Quantity:</label>
        <input type="number" formControlName="quantity" name="quantity" id="quantity">

        <button (click)="removeProduct(i)">Remove</button>
      </div>
    </div>
  </form>

</div>
<div class="form-actions">

  <button (click)="addFormData()">Add</button>
  <button (click)="removeAll()">Remove All</button>
  <button (click)="placeOrder()">Place Order</button>
</div>