.category {
  width: 100%;
}

.category_table{
    width: 90%;
    margin: 1rem auto;
}

.category_header button {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: #0183ff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.category_header h3 {
  font-weight: 500;
  color: black;
}
