<app-loader *ngIf="isLoading"></app-loader>
<app-header>
  <h3>Place Order</h3>
</app-header>

<div >
  <form [formGroup]="dynamicForm">

    <div formArrayName="OrderFormArray" class="form-container">
      <div *ngFor="let formGroup of OrderFormArray.controls; let i=index" [formGroupName]="i" class="form-group">
        <label for="product">Product:</label>
        <select id="product" formControlName="product" (change)="onProductChange(i)">
          <option *ngFor="let pv of productVendors" [value]="pv.item._id">{{ pv.item.name }}</option>
        </select>

        <label for="vendor">Vendor:</label>
        <select id="vendor" formControlName="vendor">
          <option *ngFor="let vendor of selectedProductVendors[i]" [ngValue]="vendor">{{ vendor.name }}
          </option>
        </select>

        <label for="quantity">Quantity:</label>
        <input type="number" formControlName="quantity" name="quantity" id="quantity">

        <button (click)="removeProduct(i)" class="btnRed">Remove</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="this.OrderFormArray.length === 0">
  <app-no-data></app-no-data>
</div>

<div class="form-actions">
  <button (click)="addFormData()">Add</button>
  <button (click)="removeAll()" class="btnRed">Remove All</button>
  <button (click)="placeOrder()">Place Order</button>
</div>