<app-loader *ngIf="isLoading"></app-loader>
<app-header>
  <h3>Place Order</h3>
</app-header>

<div>
  <form [formGroup]="dynamicForm">
    <div formArrayName="OrderFormArray" class="form-container">
      <div
        *ngFor="let formGroup of OrderFormArray.controls; let i = index"
        [formGroupName]="i"
        class="form-group"
      >
        <div class="inputDiv">
          <label for="product">Product:</label>
          <select
            appCustomInputStyle
            id="product"
            formControlName="product"
            (change)="onProductChange(i)"
          >
            <option *ngFor="let pv of productVendors" [value]="pv.item._id">
              {{ pv.item.name }}
            </option>
          </select>
        </div>

        <div class="inputDiv">
          <label for="vendor">Vendor:</label>
          <select id="vendor" formControlName="vendor" appCustomInputStyle>
            <option
              *ngFor="let vendor of selectedProductVendors[i]"
              [ngValue]="vendor"
            >
              {{ vendor.name }}
            </option>
          </select>
        </div>

        <div class="inputDiv">
          <label for="quantity">Quantity:</label>
          <input
            appCustomInputStyle
            type="number"
            formControlName="quantity"
            name="quantity"
            id="quantity"
          />
        </div>

        <button appButtonPrimary (click)="removeProduct(i)" class="btnRed">Remove</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="this.OrderFormArray.length === 0">
  <app-no-data></app-no-data>
</div>

<div class="form-actions">
  <button appButtonPrimary (click)="addFormData()">Add</button>
  <button appButtonPrimary (click)="removeAll()" class="btnRed">Remove All</button>
  <button appButtonPrimary (click)="placeOrder()">Place Order</button>
</div>
