.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;

  .form-group {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .inputDiv {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.form-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
}

.btnRed {
    background-color: red !important;
    &:hover {
      background-color: red !important;
      opacity: 0.7 !important;
    }
}
