.inventory_header {
    background-color: white;
    border-bottom: 1px solid rgb(212, 212, 212);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    position: sticky;
    top: 3.7rem;
  }
  