.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    margin-bottom: 7px;
    padding: 10px;
    margin: 10px;
}

.orders-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.order {
    background-color: #ffffff;
    border-radius: 0.3rem;
    padding: 1.5rem;
    padding: 10px;
    margin: 10px;
}

.order-placed {
    border: 1px solid rgb(1, 131, 255);
    box-shadow: 0 3px 10px rgba(1, 131, 255, 0.2);
}

.order-fulfilled {
    border: 1px solid rgb(1, 164, 22);
    box-shadow: 0 3px 10px rgba(1, 164, 22, 0.2);
}

.order-pending {
    border: 1px solid rgb(201, 131, 1);
    box-shadow: 0 3px 10px rgba(201, 131, 1, 0.2);
}

.order-rejected {
    border: 1px solid red;
    box-shadow: 0 3px 10px rgba(255, 0, 0, 0.2);
}