<div class="category" *ngIf="!isCategoryFormVisible">
  <app-category-header class="category_header">
    <h3>Active Categories</h3>
    <button appButtonPrimary (click)="showCategoryForm()">+ New</button>
  </app-category-header>

  <app-category-table
    [categories]="categories$ | async"
    (deleteCategoryEmitter)="deleteCategoryHandler($event)"
    (updateCategoryEmitter)="showUpdateCategoryForm($event)"
  ></app-category-table>
</div>

<div class="category" *ngIf="isCategoryFormVisible">

  <app-category-header class="category_header">
    <h3>{{ !isEditMode ? "New Category" : "Update Category" }}</h3>
    <button appButtonPrimary (click)="hideCategoryForm()">Cancel</button>
  </app-category-header>

  <app-category-form
    *ngIf="isCategoryFormVisible"
    (createCategoryEmmiter)="createCategoryHandler($event)"
    (updateCategoryEmmiter)="updateCategoryHandler($event)"
    [selectedCategory]="selectedCategory"
  ></app-category-form>

</div>

<app-modal *ngIf="showDeleteConfirmation" (closeModalEvent)="closeModal()">
  <div class="deleteConfirmation">
    <h2>Confirm Delete</h2>
    <p>
      Are you sure you want to delete this item? This action cannot be undone.
    </p>
    <div class="delete-confirmation-buttons">
      <button  class="cancel-btn" (click)="cancelDelete()">Cancel</button>
      <button  class="delete-btn" (click)="confirmDelete()">Delete</button>
    </div>
  </div>
</app-modal>

<app-loader *ngIf="loaderService.isLoading$ | async"></app-loader>




