<app-sidebar *ngIf="isSidebarOpen" (linkClicked)="closeSidebar()"></app-sidebar>

<div class="navbar">
  <div class="left">
    <button (click)="toggleSidebar($event)" class="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="logo">
      <mat-icon>business</mat-icon>
      <h3>{{ orgName }}</h3>
    </div>
  </div>

  <div class="middle"></div>

  <div class="right">
    <ul *ngIf="(globalState$ | async)?.isLoggedIn">
      <a [routerLink]="'login'">Login</a>
      <a [routerLink]="'login'">SignUp</a>
    </ul>

    <ul *ngIf="!(globalState$ | async)?.isLoggedIn">
      <a (click)="onLogout()">Logout</a>
    </ul>
  </div>
</div>
