.inventory {
  width: 100%;
}

.inventory .searchBar{
  display: block;
  width: 90%;
  margin: auto;
}

.inventory .filterOption {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  gap: 1rem;
}

.filterOption .inputDiv{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pagination{
  width: 100%;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
}

@media screen and (max-width: 600px) {
  .filterOption .searchBar {
    flex: 1;
  }

  .filterOption .filter {
    flex: 1;
  }
}
