<app-loader *ngIf="isLoading"></app-loader>

<div class="inventory" *ngIf="!isInventoryFormVisible">
  <app-header class="category_header">
    <h3>Inventory Items</h3>
    <button appButtonPrimary (click)="showInventoryForm()">Add Item</button>
  </app-header>

  <input
    appCustomInputStyle
    type="text"
    class="searchBar"
    placeholder="Search item"
    [(ngModel)]="searchText"
    (input)="onSearchTextChange()"
  />

  <div class="filterOption">
    <select
      appCustomInputStyle
      class="identificationTypeFilter"
      name="selectedIdentificationType"
      id="selectedIdentificationType"
      [(ngModel)]="selectedIdentificationType"
      (change)="onIdentificationTypeChange()"
    >
      <option value="unique">unique</option>
      <option value="non-unique">non-unique</option>
    </select>

    <select
      appCustomInputStyle
      class="categoryFilter"
      name="selectedCategory"
      id="selectedCategory"
      [(ngModel)]="selectedCategoryId"
      (change)="onCategoryChange()"
    >
      <option value="">All</option>
      <option
        *ngFor="let category of filteredCategories$ | async"
        [ngValue]="category._id"
      >
        {{ category.name }}
      </option>
    </select>
  </div>

  <app-inventory-table
    [items]="items$ | async"
    [identificationType]="selectedIdentificationType"
    (deleteItemEmmiter)="deleteItemHandler($event)"
    (updateItemEmmiter)="showUpdateItemForm($event)"
    (detailedViewEmmiter)="showDetailedViewHandler($event)"
    (checkoutEmmiter)="showCheckoutItemHandler($event)"
    (checkinEmmiter)="showCheckinItemHandler($event)"
    (lifecycleEmmiter)="showLifecycleHandler($event)"
  ></app-inventory-table>

  <pagination-controls
  id="inventory-pagination"
  [maxSize]="7"
  [directionLinks]="true"
  [autoHide]="false"
  [responsive]="true">
</pagination-controls>

</div>
