.inventory {
  width: 100%;
}

.inventory .searchBar{
  display: block;
  width: 90%;
  margin: auto;
}

.inventory .filterOption {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  gap: 1rem;
}

.pagination-controls{
  background-color: white;
  z-index: 5;
  border-top: 1px solid rgb(216, 216, 216);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
}

@media screen and (max-width: 600px) {
  .filterOption .searchBar {
    flex: 1;
  }

  .filterOption .filter {
    flex: 1;
  }
}
