<button (click)="showDialog()" label="Add Employee" >Add Employee</button>
<p-dialog header="Add Employee To the Organization" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Add new Employee</span>
    <form [formGroup]="addEmployeeForm" (submit)="onAddEmployee()">

        <div class="flex align-items-center gap-3 mb-3">
            <label for="username" class="font-semibold w-6rem">Name</label>
            <input formControlName="name" pInputText id="username" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
            <label for="email" class="font-semibold w-6rem">Email</label>
            <input formControlName="email" pInputText id="email" type="email" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
            <label for="role" class="font-semibold w-6rem">Role</label>
            <select formControlName="role"  pInputText id="role" class="flex-auto" autocomplete="off">
                <option n value="user">User</option>
                <option value="employee">Employee</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <div class="flex justify-content-end gap-2">
            <button label="Cancel" severity="secondary" (click)="visible = false" >Cancel</button>
            <button type="submit" label="Add" >Add</button>
        </div>
    </form>
</p-dialog>
<app-employees-table [employees]="(employees | async)"></app-employees-table>