.tickets {
  width: 90%;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

// filter

/* ticket.component.scss */
.filter_buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
  gap: 0.5rem;
}

.filter_button {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.filter_button.active {
  background-color: #007bff;
  color: #fff;
}
