<div class="category_table" *ngIf="categories && categories.length > 0"> 
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Identification Type</th>
        <th>Asset Count</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.name }}</td>
        <td>{{ category.identificationType }} Item</td>
        <td>{{ category.numberOfAssets ? category.numberOfAssets : 0 }}</td>
        <td>
          <div class="actions">
            <button appButtonPrimary (click)="updateCategoryHandler(category)">
              Update
            </button>

            <button
              appButtonPrimary
              (click)="deleteCategoryHandler(category._id, category.numberOfAssets)"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!categories || categories.length === 0">
  <app-no-data></app-no-data>
</div>

