<div class="addEmployee">
  <h2>Add Employee To the Organization</h2>

  <form
    [formGroup]="addEmployeeForm"
    class="addEmployeeForm"
    (ngSubmit)="onAddEmployee()"
  >
    <div class="inputDiv">
      <label for="username">Name</label>
      <input
        appCustomInputStyle
        formControlName="name"
        pInputText
        id="username"
      />
      <span
        *ngIf="
          addEmployeeForm.controls['name'].invalid &&
          (addEmployeeForm.controls['name'].touched ||
            addEmployeeForm.controls['name'].dirty)
        "
        class="error-message"
      >
        <span *ngIf="addEmployeeForm.controls['name'].hasError('minlength')">Must be at least 3 characters long.</span>
        <span *ngIf="addEmployeeForm.controls['name'].hasError('maxlength')">Cannot exceed 128 characters.</span>
      </span>
    </div>

    <div class="inputDiv">
      <label for="email">Email</label>
      <input
        appCustomInputStyle
        formControlName="email"
        pInputText
        id="email"
        type="email"
      />
      <span
        *ngIf="
          addEmployeeForm.controls['email'].invalid &&
          (addEmployeeForm.controls['email'].touched ||
            addEmployeeForm.controls['email'].dirty)
        "
        class="error-message"
      >
        <span *ngIf="addEmployeeForm.controls['email'].hasError('validEmail')">Please enter a valid email address.</span>
      </span>
    </div>

    <div class="inputDiv">
      <label for="role">Role</label>
      <select appCustomInputStyle formControlName="role" id="role">
        <option value="employee">Employee</option>
        <option value="admin">Admin</option>
      </select>
      <span
        *ngIf="
          addEmployeeForm.controls['role'].invalid &&
          (addEmployeeForm.controls['role'].touched ||
            addEmployeeForm.controls['role'].dirty)
        "
        class="error-message"
      >
        <span *ngIf="addEmployeeForm.controls['role'].hasError('required')">This field is required.</span>
      </span>
    </div>

    <div class="actions">
      <button appButtonPrimary (click)="onCloseVendor()" class="cancelBtn">
        Cancel
      </button>
      <button appButtonPrimary type="submit" label="Add">Add</button>
    </div>
  </form>
</div>
