.addEmployee{
    padding: 1rem;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 500;
}

.addEmployeeForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addEmployeeForm .inputDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addEmployeeForm .actions{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.cancelBtn {
  color: #fff !important;
  background-color: red !important;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 4px;
}
