<div class="detailedView">
  <div class="itemImage">
    <img
      class="image"
      src="https://stockwisebucket.s3.ap-south-1.amazonaws.com/{{
        selectedItem?.itemImage
      }}"
      (error)="handleImageError()"
      alt="image not found"
    />
  </div>

  <div class="itemInfo">
    <h3>{{ selectedItem?.name }}</h3>
    <h4><span>Quantity: </span>{{ selectedItem?.quantity }}</h4>
    <h4 *ngIf="selectedItem?.serialNumber">
      <span>Serial Number: </span>{{ selectedItem?.serialNumber }}
    </h4>

    <h4 *ngFor="let item of selectedItem?.customFieldsData | keyvalue">
      <span>{{ item.key }}: </span>{{ item.value }}
    </h4>
  </div>
</div>
