<div class="change-password">
    <h2>Change Password</h2>
    
    <form (ngSubmit)="onSubmit()">
        <div class="inputDiv">
            <label for="Password">Current password</label>
            <input  [(ngModel)]="currPassword" appCustomInputStyle id="Password" name="password" type="text">
        </div>
        <div class="inputDiv">
            <label for="Password">New password</label>
            <input  [(ngModel)]="newPassword" appCustomInputStyle id="Password" name="password" type="text">
        </div>
        <button type="submit" appButtonPrimary>Save Password</button>
    </form>
</div>