<div class="change-password">
  <h2>Change Password</h2>

  <form [formGroup]="changePasswordFormGroup" (ngSubmit)="onSubmit()">
    <div class="inputDiv">
      <label for="currPassword">Current password<span class="required-star" *ngIf="changePasswordFormGroup.get('currPassword')?.errors?.['required']">*</span></label>
      <input
        formControlName="currPassword"
        appCustomInputStyle
        id="currPassword"
        type="password"
      />
    </div>

    <div class="inputDiv">
      <label for="newPassword">New password<span class="required-star" *ngIf="changePasswordFormGroup.get('newPassword')?.errors?.['required']">*</span></label>
      <input
        formControlName="newPassword"
        appCustomInputStyle
        id="newPassword"
        type="password"
      />
    </div>
    <button
      type="submit"
      appButtonPrimary
      [disabled]="!changePasswordFormGroup.valid"
    >
      Save Password
    </button>
  </form>
</div>
