.ticket {
  background-color: #ffffff;
  border-radius: 0.3rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4a4a4a;
}

.ticket-header .ticked-header-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.ticket-header .ticketDate {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.ticketInfo .ticketStatus {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 420;
}

.ticketStatus.open {
  color: #0183ff;
}

.ticketStatus.resolved {
  color: #01a416;
}

.ticketStatus.processing {
  color: #c98301;
}

.ticketDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ticketDetails h3 {
  font-weight: 500;
}

.ticketAction {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.additionalDetails h4 span {
  font-weight: 400;
}

@media screen and (max-width: 700px) {
  .ticket-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
