<app-loader *ngIf="isLoading"></app-loader>

<app-header>
  <h3>Employees</h3>
  <button appButtonPrimary (click)="showAddEmployee()">Add Employee</button>
</app-header>

<app-modal *ngIf="isVisibleAddEmployee" (closeModalEvent)="hideAddEmployee()">
  <app-add-employee
    (closeAddEmployee)="hideAddEmployee()"
    (addEmployee)="onAddEmployee($event)"
  ></app-add-employee>
</app-modal>

<div class="employee-table">
  <app-employees-table
    [employees]="employees"
    (updateEmployee)="onUpdateEmployee($event)"
    (deleteEmployee)="onDeleteEmploye($event)"
  ></app-employees-table>
</div>
