<div class="sidebar">
  <ul>
    <li>
      <a
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
        (click)="closeSidebar()"
        >Dashboard</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/category']"
        routerLinkActive="active"
        (click)="closeSidebar()"
        >Category</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/inventory']"
        routerLinkActive="active"
        (click)="closeSidebar()"
        >Inventory</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/employees']"
        routerLinkActive="active"
        (click)="closeSidebar()"
        >Employee</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/vendors']"
        routerLinkActive="active"
        (click)="closeSidebar()"
        >Vendor</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/ticket']"
        routerLinkActive="active"
        (click)="closeSidebar()"
        >Help Desk</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/ticketAdmin']"
        routerLinkActive="active"
        (click)="closeSidebar()"
        >Help Desk Admin</a
      >
    </li>
  </ul>
</div>
