<div class="sidebar">
  <ul>
    <li>
      <a
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
        (click)="closeSidebar()"
      >
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/category']"
        routerLinkActive="active"
        (click)="closeSidebar()"
      >
        <mat-icon>category</mat-icon>
        Category
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/inventory']"
        routerLinkActive="active"
        (click)="closeSidebar()"
      >
        <mat-icon>inventory</mat-icon>
        Inventory
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/employees']"
        routerLinkActive="active"
        (click)="closeSidebar()"
      >
        <mat-icon>people</mat-icon>
        Employee
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/vendors']"
        routerLinkActive="active"
        (click)="closeSidebar()"
      >
        <mat-icon>store</mat-icon>
        Vendor
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/order']"
        routerLinkActive="active"
        (click)="closeSidebar()"
      >
        <mat-icon>buy</mat-icon>
        Order
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/ticket']"
        routerLinkActive="active"
        (click)="closeSidebar()"
      >
        <mat-icon>help</mat-icon>
        Help Desk
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/ticketAdmin']"
        routerLinkActive="active"
        (click)="closeSidebar()"
      >
        <mat-icon>admin_panel_settings</mat-icon>
        Help Desk Admin
      </a>
    </li>
  </ul>
</div>
