/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-color: #0183ff;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Override Toastr styles for error notifications */
.toast-error {
  background-color: #f44336; /* Red background color for error messages */
  color: white; /* White text color for error messages */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Override Toastr styles for success notifications */
.toast-success {
  background-color: #4caf50; /* Green background color for success messages */
  color: white; /* White text color for success messages */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Override Toastr title styles */
.toast-title {
  font-weight: bold; /* Bold font weight for the title */
}

/* Override Toastr message styles */
.toast-message {
  font-size: 14px; /* Font size for the message */
}
