<div class="checkoutItem">
    <div class="inputDiv">
        <label for="asset_name">Asset Name</label>
        <input appCustomInputStyle type="text" id="asset_name">
    </div>

    <div class="inputDiv">
        <label for="employee_name">Employee Name</label>
        <select appCustomInputStyle id="employee_name">
            <option value="">Select Employee</option>
        </select>
    </div>

    <div class="inputDiv">
        <label for="quantity">Quantity Available {{selectedItem?.quantity}}</label>
        <input appCustomInputStyle type="text" id="quantity" disabled>
    </div>

    <div class="inputDiv">
        <label for="serialNumber">Serial Number</label>
        <input appCustomInputStyle type="text" id="serialNumber" disabled>
    </div>

    <button appButtonPrimary>Assign</button>
</div>