<app-loader *ngIf="isLoading"></app-loader>

<app-ticket-header *ngIf="!isTicketFormVisible">
  <h3>Tickets</h3>
  <button appButtonPrimary (click)="showTicketForm()">+ Ticket</button>
</app-ticket-header>

<app-ticket-header *ngIf="isTicketFormVisible">
  <h3>New Ticket</h3>
  <button appButtonPrimary (click)="hideTicketForm()">Cancel</button>
</app-ticket-header>

<div class="tickets" *ngIf="!isTicketFormVisible">

  <div class="filter_buttons">
    <button
      class="filter_button"
      [class.active]="filterTag === 'all'"
      (click)="handleFilterChange('all')"
    >
      All
    </button>
    <button
      class="filter_button"
      [class.active]="filterTag === 'active'"
      (click)="handleFilterChange('active')"
    >
      Active
    </button>
    <button
      class="filter_button"
      [class.active]="filterTag === 'resolved'"
      (click)="handleFilterChange('resolved')"
    >
      Resolved
    </button>
  </div>

  <ng-container *ngIf="filteredTickets$ | async as tickets">
    <app-ticket-card
      *ngFor="let ticket of tickets"
      [ticket]="ticket"
    ></app-ticket-card>
  </ng-container>
</div>

<app-modal (closeModalEvent)="hideTicketForm()" *ngIf="isTicketFormVisible">
  <app-ticket-form
    (createTicketEmitter)="createTicketHandler($event)"
    [userAssets]="userAssets$ | async"
  ></app-ticket-form>
</app-modal>


